*

!.husky
!.husky/**/*
!src
!src/**/*
!.gitignore
!.lintstagedrc
!.nvmrc
!.prettierrc
!commitlint.config.js
!.eslint.config.js
!jest.config.mjs
!jest.setup.ts
!LICENSE
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!tsconfig.json
!tsconfig.app.json
!tsconfig.jest.json
!tsconfig.node.json
!.vite.config.ts