*

!.husky
!.husky/**/*
!src
!src/**/*
!dist
!dist/**/*
!.gitignore
!.lintstagedrc
!.nvmrc
!.prettierrc
!commitlint.config.js
!.eslint.config.js
!jest.config.mjs
!jest.setup.ts
!LICENSE
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!README.md
!tsconfig.json
!tsconfig.lib.json
!tsconfig.jest.json
!tsup.config.ts
!tsconfig.tools.json
